{% extends 'small-apps/index.html' %}
{% load static %}


  

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

  
<!-- semantic UI -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>








{% block body %}
<!--================================
=            Page Title            =
=================================-->


<section class="section page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
        <div class="shake-slow shake-constant shake-constant--hover">
        <img src="{% static  'images/laboratory_120699.ico' %}">
        </div>
				<h1>Busqueda de estudios y/o Perfiles de laboratorio
          
       
          
        </h1>
   
				<!-- search bar -->
        <div class="search-bar">
          <form method="get">
            <div class="input-group">
              <input type="text" class="form-control" id ="exampleFormControlInput1" onkeyup="MyFilterfunctionbyname()" placeholder="Buscar ">
              {% comment %} <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">
                  <span class="fa fa-search"></span>
                </button>
              </span> {% endcomment %}
            </div>
          </form>
        </div>

              
				
			</div>
		</div>
	</div>
</section>


<!--====  End of Page Title  ====-->


<!--====================================
=            Privacy Policy            =
=====================================-->
<section class="privacy section pt-0">
	<div class="container">
		<div class="row">
			<!-- <div class="col-lg-3">
				<nav class="privacy-nav">
					<ul>
						<li><a class="nav-link scrollTo" href="#nombreyclave" class="scrollTo">Nombre y clave</a></li>
						<li><a class="nav-link scrollTo" href="#metodologia" class="scrollTo">Metodologia</a></li>
						<li><a class="nav-link scrollTo" href="#grupo" class="scrollTo">Grupo</a></li>
						<li><a class="nav-link scrollTo" href="#contenedor" class="scrollTo">Contenedor </a></li>
            <li><a class="nav-link scrollTo" href="#alias" class="scrollTo">Alias</a></li>
            <li><a class="nav-link scrollTo" href="#tipodemuestra" class="scrollTo">Tipo de muestra</a></li>
            <li><a class="nav-link scrollTo" href="#sexo" class="scrollTo">Sexo</a></li>
            <li><a class="nav-link scrollTo" href="#indicaciones" class="scrollTo">Indicaciones</a></li>
					</ul>
				</nav>
			</div> -->
      <!-- #center -->
     
			<div class="col-lg-12">



        {% for i in estudios_perfiles %}
				<div class="block">
              <div id="nombreyclave" class="policy-item">
                <div class="title">
                    <h3>Nombre del estudio y/o perfil de laboratorio</h3>
                </div>
                <div class="policy-details">
                  <p class="identificador">{{ i.Nombre }} </p>
                </div>
                <a class="btn btn-success" href="{% url 'Detalle_estudio' i.pk %}">Detalles</a>      
              </div>
				</div>
        {% endfor %}

        <script>


          function MyFilterfunctionbyname() {

            var input, filter, ul, li, a, i;
            input = document.getElementById("exampleFormControlInput1");
            filter = input.value.toUpperCase();
            //ul = policy-details
            ul = document.getElementsByClassName("policy-details");
            //li = identificador
            li = document.getElementsByClassName("identificador");
            //a = block
            a = document.getElementsByClassName("block");
            //i = policy-item
            i = document.getElementsByClassName("policy-item");
            for (i = 0; i < li.length; i++) { 
              if (li[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";

              } else {
                a[i].style.display = "none";
              }
            }
          }


          

        </script>


      
		</div>
	</div>
</section>


<!--====  End of Privacy Policy  ====-->

<!--============================
=            Footer            =
=============================-->
{% comment %} <footer>
  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 m-md-auto align-self-center">
          <div class="block">
            <a href="index.html"><img src="images/logo-alt.png" alt="footer-logo"></a>
            <!-- Social Site Icons -->
            <ul class="social-icon list-inline">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/themefisher"><i class="ti-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://twitter.com/themefisher"><i class="ti-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/themefisher/"><i class="ti-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Product</h6>
            <!-- links -->
            <ul>
              <li><a href="team.html">Teams</a></li>
              <li><a href="blog.html">Blogs</a></li>
              <li><a href="FAQ.html">FAQs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Resources</h6>
            <!-- links -->
            <ul>
              <li><a href="sign-up.html">Singup</a></li>
              <li><a href="sign-in.html">Login</a></li>
              <li><a href="blog.html">Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Company</h6>
            <!-- links -->
            <ul>
              <li><a href="career.html">Career</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="team.html">Investor</a></li>
              <li><a href="privacy.html">Terms</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Company</h6>
            <!-- links -->
            <ul>
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="team.html">Team</a></li>
              <li><a href="privacy-policy.html">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center bg-dark py-4">
    <small class="text-secondary">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. Designed &amp; Developed by <a href="https://themefisher.com/">Themefisher</a></small class="text-secondary">
  </div>
</footer> {% endcomment %}

{% endblock body %}
  <!-- To Top -->
  <div class="scroll-top-to">
    <i class="ti-angle-up"></i>
  </div>
  
  <!-- JAVASCRIPTS -->
  <script src="plugins/jquery/jquery.min.js"></script>
  <script src="plugins/bootstrap/bootstrap.min.js"></script>
  <script src="plugins/slick/slick.min.js"></script>
  <script src="plugins/fancybox/jquery.fancybox.min.js"></script>
  <script src="plugins/syotimer/jquery.syotimer.min.js"></script>
  <script src="plugins/aos/aos.js"></script>
  <!-- google map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g"></script>
  <script src="plugins/google-map/gmap.js"></script>
  
  <script src="js/script.js"></script>






  